// Place all the styles related to the nuggets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-title {
   padding: 50px 0px 50px 0px;
}

.feed-entry {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    overflow:hidden; 
}

.feed-entry h4 {
    font-size: 1.5em;
}

.feed-image{
   width: 210px; 
   height: 106px;
   overflow: hidden; 
}

.feed-image img {
    width: 100%; 
}

.feed-summary {
    color: #939393;
}
