// Place all the styles related to the nuggets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-title {
    color: white;
    background-color: black;
}

.feed-entry {
    float: left;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 20px;
    overflow:hidden; 
}

.feed-image{
   width: 206px; 
   height: 106px;
   overflow: hidden; 
}

.feed-image img {
    width: 100%; 
}

.feed-summary {
    color: #939393;
}
